@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|East+Sea+Dokdo|Stylish|Yeon+Sung');
h1
    border-bottom: 0.5rem solid #1a583c

h1, h2, h3, h4, h5, h6, a.action-button, p.description
    font-family: 'Do Hyeon', sans-serif;
    word-break: keep-all;

h2
    border-bottom: 0.1rem solid #1a583c

.author
    font-family: 'Do Hyeon', sans-serif;
	
